body {
  font-family: 'Roboto Mono';
  background-color: #dfe3ee;
}

.card-header{
  color: white;
}
.card{

  background: rgb(187, 187, 187) ;
  background: linear-gradient(90deg, rgba(187, 187, 187, 1) 50%, rgb(60 78 95) 50%);

}

.text-primary{
  color: white !important;
}
.card-text{
  color: white;
}

.btn-outline-primary{
  color: white;
  border-color: white;
}